:root {
    --primary-color: #1da1f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Madurai', sans-serif;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #14171a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #f5f8fa;
    padding: 1rem 0;
}

.logo {
    margin: 0 16px;
    width: 44px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

select {
    margin: 16px;
    padding: 8px;
    font-size: 16px;
    border-radius: 999px;
    border-color: #aab8c2;
    border-width: 2px;
}

.location {
    background-color: #f5f8fa;
    padding: 16px;
    border-radius: 999px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location:hover {
    background-color: #e5e8e8;
}

.content {
    max-width: 960px;
    margin: auto;
}

.tweet_volume {
    font-size: 12px;
    background-color: var(--primary-color);
    color: #f5f8fa;
    border-radius: 999px;
    padding: 2px 4px;
    margin-left: 4px;
    font-weight: bold;
}

li {
    display: inline-block;
    list-style-type: none;
    background-color: #f5f8fa;
    padding: 8px 16px;
    margin: 8px;
    border-radius: 999px;
}

li > a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 16px;
}

li:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

li:hover > a {
    color: #f5f8fa;
}

li:hover .tweet_volume {
    color: var(--primary-color);
    background-color: #f5f8fa;
}